@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto|Herr+Von+Muellerhoff|Poppins|Source+Sans+Pro:400,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root{
	--main-font: 'Roboto', poppins, sans-serif,;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --body-font-color: #f1f1f1;
    --main-font-color-dark: #252525;
    --secondary-font-color: #f00000;
    --text-font-size: 1.15rem;
}

body{
	overflow-x: hidden;
}

.sec{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px;
}

.sec1{
	background: linear-gradient(#f00000, #dc281e);
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo img{
	width: 70%;
	height: 70px; 
}

.navigation{
	position: relative;
	display: flex;
}

.drop-down{
	position: relative;
	display: inline-block;
}

.drop-down-content{
	display: none;
	position: absolute;
	min-width: 200px;
	z-index: 2;
}

.drop-down-content a{
	padding: 12px 0;
	text-decoration: none;
	display: block;
}

.drop-down, .drpdown:hover .drop-down-content{
	display: block;
	background-color: rgb(0,0,0,.3);
	color: #f1f1f1;
}

.navigation li{
	list-style: none;
	font-size: 1.15rem;
	font-weight: bold;
}

.navigation li a{
	color: var(--body-font-color);
	margin-left: 30px;
	text-decoration: none;
}

.content{
	position: relative;
	max-width: 600px;
	z-index: 1;
}

.content h2{
	color: var(--body-font-color);
	font-size: 3em;
	line-height: 1em;
}

.content h2 span{
	color: var(--body-font-color);
	font-size: .7em;
}

.content p{
	color: var(--body-font-color);
	margin: 10px 0 20px;
}

.content a{
	padding: 10px 30px;
	background: #fff;
	color: #111;
	display: inline-block;
	text-decoration: none;
}

.sec2{
	padding: 50px;
	background: #f1f1f1;
}

.quick-links, .description{
	width: 100%;
	height: 100vh;
	flex: 1;
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quick-links{
	background: #e8e7e3;
}

.quick-links h1{
	color: #f00000;
	font-size: 2rem;
}

.link-list{
	list-style: none;
	padding: 1.5rem;
}

.link-item{
	padding: .9rem;
	font-size: var(--text-font-size);
}

.link-item a{
	color: #f00000;
}

.description{
	background: rgba(240,0,0,1);	
}

.description h1{
	color: #f1f1f1;
	font-size: 2rem;
}

.description:hover{
	background: linear-gradient(#f00000, #dc281e);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #e8e7e3;
  color: #444;
  font-size: var(--text-font-size);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: var(--text-font-size);
}

.sec3{
	background: rgb(0,0,0,.8);
}

.values{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.heading{
	text-align: center;
	color: var(--secondary-font-color);
	font-size: 2rem;
}

.paragraph{
	color: var(--body-font-color);
	font-size: var(--text-font-size);
}


/*media queries*/
@media (max-width: 990px){
	
	header{
		padding: 20px 40px;
		justify-content: space-between;
	}

	.navigation{
		position: fixed;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: linear-gradient(#f00000, #dc281e);
		z-index: 100;
		display: none;
	}

	.sec{
		justify-content: center;
		padding: 40px 40px 0;
		flex-direction: column;
	}

	.navigation.active{
		display: flex;
	}

	.navigation li{
		padding: 1.5rem;
	}

	.navigation li a{
		color: var(--body-font-color);
		margin-left: 0;
		text-decoration: none;
		font-size: 30px;
	}

	.toggle{
		position: relative;
		width: 30px;
		height: 30px;
		background: url(../media/images/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 1000;
	}

	.toggle.active{
		position: fixed;
		left: 75%;
		right: 40px;
		background: url(../media/images/close.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.content{
		max-width: 100%;
		margin-top: 120px;
	}

	.content h2{
		font-size: 2.6rem;
	}

	.heading{
		color: var(--body-font-color); 
		font-size: 2rem;
		letter-spacing: 2px;
		right: -2px;
	}

	.sec2{
		height: 100%;
		padding-right: 50px;
		padding-left: 50px;
		padding-bottom: 50px; 
	}

	.values{
		display: flex;
		flex-direction: column;
		padding-bottom: 1.5rem;
	}
}

















